[submodule "korp-frontend"]
	path = korp-frontend
	url = git@github.com:giellatekno/korp-frontend
[submodule]
	korp-frontend = giellatekno
[submodule "korp-backend"]
	path = korp-backend
	url = git@github.com:giellatekno/korp-backend.git
